<div style="width: calc(100vw - 30px);">
    <div id="svg_wrapper">
        <object id="svg_img" data="" type="image/svg+xml"> Image not visible in your browser or not
            available on the server </object>
    </div>
    <div id="info_area" class="d-none d-sm-block">
        <div id="jobs_wrapper">
            <table id="jobs" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>